<head>
  <title>Watercolours by KT | <%= current_page.data.title %></title>
  <meta charset="utf-8">
  <meta name="description" content="Watercolours by Katy Thomas, paintings of animals and plants, made into prints and greetings cards">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

  <%= stylesheet_link_tag :main, title: "main" %>

</head>
